			<section>
				<article>
					<header>
						<h2>{{titulo}}</h2>
					</header>

					<p>{{conteudo}}</p>

					<br>
					<hr>
					<br>

					<form method="post" action="http://192.168.100.138/projeto_php/?pagina=post&metodo=addComent">
						<span>Nome:</span><br>
						<input type="text" name="nome"><br><br>
						<span>Mensagem:</span><br>
						<textarea name="msg" cols="25" rows="5"></textarea><br><br>

						<input type="hidden" name="id" value="{{id}}">

						<input type="submit" value="Enviar">
					</form>
					<br><br>

					<h1>Comentarios:</h1>
					
					{% if comentarios == false %}
						<p>Nenhum comentário encontrado para essa postagem!</p>
					{% else %}
						{% for coment in comentarios %}
							<h3>{{coment.nome}}</h3>
							<p>{{coment.mensagem}}</p>
							<br>
						{% endfor %}
					{% endif %}
					
				</article>
			</section>